body {
  margin: 50px;
  font-family: georgia, serif;
  }

h1  {
  text-align: center;
  background-color: rgb(245, 226, 230)
color: black;
break-before: 5px;

}

h2 {
  color: rgb(124, 69, 87);
  break-before: 5px;
  }

img {
  width: 100%;

}

p {
  color: black;
  margin-top: 0px;
  margin-bottom: 18px;
  border: 5px solid rgb(124, 69, 87);
  padding: 20px;
}


.first {
  border: 0px;
  background-color: rgb(124, 69, 87);
  color: white;
  font-size: 1.2em;
  line-height: 1;
}

ul{

}

.everything {
  width: 80%;
  margin: 0 auto;
  max-width: 800px;
  }


  .cover {

    }
.intro {



  }

  @@media screen and (max-width: 800px) {

  .cover {
  float:none;
  }
  }

  }
